.postsContainerSize {
  margin: 0 0 30px;
  width: 80%;
}

.postsHeader {
  height: 1.15em;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.25em;
  letter-spacing: -1.35px;

  color: #FFFFFF;
  margin-bottom: .25em;
}


.addPost input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.fileLabel {
  padding: 8px 12px;
  border: 1px solid #f2f2f2;
  display: inline-flex;
  margin: 1em 0;
  background-color: black;
  cursor: pointer;
}

.fileLabel i {
  margin-right: 8px;
}

.buttonContainer {
  width: 10.7em;
  height: 2.5em;
}

@keyframes shadow {
  0% {
    box-shadow: 0 6px 20px rgba(125, 125, 125, 0.2);
  }

  25% {
    box-shadow: 0 6px 20px rgba(125, 125, 125, 0.6);
  }

  50% {
    box-shadow: 0 6px 20px rgba(125, 125, 125, 1);
  }

  75% {
    box-shadow: 0 6px 20px rgba(125, 125, 125, 0.6);
  }

  100% {
    box-shadow: 0 6px 20px rgba(125, 125, 125, 0.2);
  }
}