.usersContainer {
  padding: 0 40px;
}

.userContainer {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #3a444c;
}

.userContainer :is(img, h4, button, p) {
  margin-bottom: 10px;
}

.image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.activePage {
  font-weight: bold;
  font-size: 1.25rem;
}

.buttonContainer {
  width: 90px;
}