.nav {
  grid-area: nav;
  background-color: black;
  height: 100vh;
  padding: 25px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarContentPosition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  height: 30px;

  font-weight: 900;
  font-size: 1.875em;
  line-height: 1.25em;
  text-transform: uppercase;
  margin-bottom: 1.33em;

  display: flex;
  align-items: center;
  letter-spacing: -1.35px;

  color: #FFFFFF;
}

.menu {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  width: 195px;
  height: 35px;
}


.btnMT {
  margin-top: 3.125em;
  font-size: 1rem;
}
