:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --light-yellow-87: rgba(255, 255, 255, 0.87);
  --blue: #007dff;
  --light-blue: #f7fafc;
  --gray: #373737;
  --light-gray: #f2f2f2;
  --gainsboro-gray: #bdbdbd;
  --dusty-gray: #d1d1d1;
  --dark-gray: #3a444c;
  --gray-42: rgba(147, 147, 147, 0.42);
  --gray-70: rgba(147, 147, 147, 0.7);
  --gray-12: #1f1f1f;
  --orange: #ffb800;
  --dark-orange: #b18000;

  /* Z-Index*/
  --negative-z-index: -1;
  --z-index-level-one: 1;

  /* Fonts */
  --roboto: Roboto, Arial, "sans-serif";
  --manrope: Manrope, Arial, "sans-serif";

  /* Dimensions */
  --sidebar-width: 295px;

  /* Borders */
  --dark-gray-border-1: 1px solid var(--dark-gray);
  --dark-gray-border-2: 2px solid var(--dark-gray);
}
